[flake8]
# E501 (Line too long) is handled by Black (reformatting)
# W503 (Line break occurred before a binary operator) conflicts with Black formatting
ignore = E501, W503, F401, E203, F405, E741, E402, E403, C901, E722, E203, F901, F403, F841
max-line-length = 88
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = .venv, dist, __init__.py, conftest.py, sysml.py, uml.py, coremodel.py, diagramitems.py
show-source = True