# python
*.pyc
*.egg
.eggs/
*.egg-info/
build/
dist/
pip-wheel-metadata

# virtual env
.venv*/
.env

# docs
docs/_build

# pyenv
.python-version

# tox
.tox/

# coverage
.coverage
htmlcov/

# gaphas
*.svg
*.pickled

# VS Code
.vscode/
