repos:
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies:
      - tomli
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: c2738302f5cf2bfb559c1f210950badb133613ea  # frozen: v1.19.0
    hooks:
      - id: mypy
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: '\.gaphor'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: '36243b70e5ce219623c3503f5afba0f8c96fda55'  # frozen: v0.14.7
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
