repos:
  - repo: https://github.com/codespell-project/codespell
    rev: 63c8f8312b7559622c0d82815639671ae42132ac  # frozen: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies:
      - tomli
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: a66e98df7b4aeeb3724184b332785976d062b92e  # frozen: v1.19.1
    hooks:
      - id: mypy
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 3e8a8703264a2f4a69428a0aa4dcb512790b2c8c  # frozen: v6.0.0
    hooks:
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: '\.gaphor'
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: '9b1e9a33f1b33f6ecc2fdbb8d7cc894e951106e4'  # frozen: v0.14.13
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
