[build-system]
requires = ["poetry==1.0.2"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "gaphas"
version = "3.0.0"
description="Gaphas is a GTK+ based diagramming widget"
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]
license = "Apache-2.0"

readme = "README.md"

homepage = "https://gaphas.readthedocs.io/"
repository = "https://github.com/gaphor/gaphas"
documentation = "https://gaphas.readthedocs.io/"

keywords = ["gtk", "diagram", "gaphas"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.6"
PyGObject = "^3.20.0"
pycairo = "^1.13.0"
importlib_metadata = ">=1.3,<3.0"

[tool.poetry.dev-dependencies]
pytest = "^6.1"
pytest-cov = "^2.10"
pytest-runner = "^5.1"
black = { version = "^20.8b1", python = "^3.7" }
pre-commit = "^2.1"
tox = "^3.20"
pytest-sugar = "^0.9.2"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py36, py37, py38

[testenv]
whitelist_externals =
    poetry
    xvfb-run
skip_install = true
commands =
    poetry install -v
    xvfb-run -a pytest
"""

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
known_third_party = ["cairo", "gi", "importlib_metadata", "pytest"]
skip = ".venv,build,dist"
