[tool.poetry]
name = "gaphas"
version = "1.0.0rc1"
description="Gaphas is a GTK+ based diagramming widget"
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]
license = "LGPL-2.0"

readme = "README.rst"

homepage = "https://gaphas.readthedocs.io/"
repository = "https://github.com/gaphor/gaphas"
documentation = "https://gaphas.readthedocs.io/"

keywords = ["gtk+", "diagram", "gaphas"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: GNU Library or Lesser General Public License (LGPL)",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

# Requirements
[tool.poetry.dependencies]
python = "~2.7 || ^3.5"
decorator = "^4.3.0"
simplegeneric = "^0.8.1"
PyGObject = "^3.20.0"
pycairo = "^1.10.0"
future = "^0.17.0"

[tool.poetry.dev-dependencies]
pytest = "^4.0"
pytest-cov = "^2.5"
pytest-runner = "^4.0"
black = { version = "^18.3-alpha.0", python = "^3.6" }
pre-commit = "^1.10"
tox = "^3.0"
pytest-sugar = "^0.9.2"

[tool.poetry.scripts]
poetry = "poetry.console:main"

[tool.tox]
legacy_tox_ini = """
[tox]
skipsdist = True
envlist = py27, py356, py36, py37

[testenv]
whitelist_externals =
    poetry
    xvfb-run
skip_install = true
commands =
    poetry install -v
    xvfb-run -a pytest
"""