[tool.poetry]
name = "gaphas"
version = "3.9.2"
description="Gaphas is a GTK+ based diagramming widget"
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]
license = "Apache-2.0"

readme = "README.md"

homepage = "https://gaphas.readthedocs.io/"
repository = "https://github.com/gaphor/gaphas"
documentation = "https://gaphas.readthedocs.io/"

keywords = ["gtk", "diagram", "gaphas"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.9"
PyGObject = "^3.38.0"
pycairo = "^1.20.0"
sphinx = { version = ">=4.3,<6.0", optional = true }
sphinx-rtd-theme = { version = "^1.0", optional = true }
gaphor = { version = "^2.7", python = "^3.9, <3.11", optional = true }

[tool.poetry.dev-dependencies]
pytest = "^7.2"
pytest-cov = "^4.0"
pytest-archon = "^0.0.2"

[tool.poetry.extras]
docs = [ "sphinx", "sphinx-rtd-theme", "gaphor" ]

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = ["--import-mode=importlib"]

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
line_length = 88
known_third_party = ["cairo", "gi", "importlib_metadata", "pytest"]
skip = ".venv,build,dist"

[tool.coverage.run]
source = ["gaphas"]

[tool.mypy]
python_version = 3.9
warn_return_any = true
warn_unused_configs = true
warn_redundant_casts = true
check_untyped_defs = true
strict_optional = true
disallow_any_explicit = true
show_error_codes = true
ignore_missing_imports=true
namespace_packages = true
explicit_package_bases = true
warn_unused_ignores = true

[[tool.mypy.overrides]]
module = [
    "cairo",
    "gi.*",
    "hotshot.*",
]
ignore_missing_imports = true
warn_unreachable = true

[[tool.mypy.overrides]]
module = "gaphas.*"
disallow_incomplete_defs = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

