[build-system]
requires = ["poetry>=1.0.0b2"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "gaphas"
version = "1.1.2"
description="Gaphas is a GTK+ based diagramming widget"
authors = [
    "Arjan J. Molenaar <gaphor@gmail.com>",
    "Dan Yeaw <dan@yeaw.me>"
]
license = "Apache-2.0"

readme = "README.md"

homepage = "https://gaphas.readthedocs.io/"
repository = "https://github.com/gaphor/gaphas"
documentation = "https://gaphas.readthedocs.io/"

keywords = ["gtk", "diagram", "gaphas"]

classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: X11 Applications :: GTK",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Programming Language :: Python",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "~2.7 || ^3.5"
PyGObject = "^3.20.0"
pycairo = "^1.13.0"
future = "^0.17.0"
singledispatch = { version = "~3.4.0", python = "~2.7" }

[tool.poetry.dev-dependencies]
pytest = "^4.6"
pytest-cov = "^2.7"
pytest-runner = "^5.1"
black = { version = "^19.3b0", python = "^3.7" }
pre-commit = "^1.17"
tox = "^3.12"
pytest-sugar = "^0.9.2"

[tool.tox]
legacy_tox_ini = """
[tox]
isolated_build = true
envlist = py27, py356, py36, py37

[testenv]
whitelist_externals =
    poetry
    xvfb-run
skip_install = true
commands =
    poetry install -v
    xvfb-run -a pytest
"""
