name: build

on:
  push:
  release:
    types: [created, published]

env:
  python-version: '3.13'

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-24.04
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            pypi.org:443
            github.com:443
            *.githubusercontent.com:443
            ghcr.io

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ env.python-version }}
      - name: Lint with pre-commit
        uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
      - name: Check REUSE compliance
        run: pip install reuse && python -m reuse lint
      - name: Check Poetry lock file integrity
        run: |
          python${{ env.python-version }} -m pip install --constraint=.github/constraints.txt poetry
          poetry config virtualenvs.in-project true
          poetry check

  build:
    needs: lint
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
    name: build python ${{ matrix.python-version }}
    outputs:
      targz: gaphas-${{ steps.meta.outputs.version }}.tar.gz
      wheel: gaphas-${{ steps.meta.outputs.version }}-py3-none-any.whl
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: block
          allowed-endpoints: >
            azure.archive.ubuntu.com:80
            qlty.sh/d/coverage:443
            qlty-releases.s3.amazonaws.com:443
            files.pythonhosted.org:443
            pypi.org:443
            github.com:443
            *.githubusercontent.com:443
            ghcr.io
            gitlab.gnome.org:443
            keys.openpgp.org:443
            motd.ubuntu.com:443
            esm.ubuntu.com:443
            packages.microsoft.com:443
            ppa.launchpadcontent.net:443

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - name: Use Python Dependency Cache
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install Ubuntu Dependencies
        run: |
          sudo apt-get update -qq
          sudo apt-get install -qq --no-install-recommends gir1.2-gtk-4.0 libgirepository-2.0-dev libcairo2-dev
      - name: Install Poetry
        run: |
          python${{ matrix.python-version }} -m pip install --constraint=.github/constraints.txt poetry
          poetry config virtualenvs.in-project true
      - name: Collect Project Data
        id: meta
        run: .github/scripts/metadata.sh
      - name: Install dependencies
        run: poetry install --no-interaction
      - name: Test
        run: |
          xvfb-run poetry run pytest --cov=gaphas
          poetry run coverage lcov
      - name: Upload Code Coverage to Qlty.sh
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage.lcov
      - name: Create Source Dist and Wheel
        if: ${{ matrix.python-version == env.python-version }}
        run: poetry build
      - name: Upload gaphas-${{ steps.meta.outputs.version }}.tar.gz
        if: ${{ matrix.python-version == env.python-version }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gaphas-${{ steps.meta.outputs.version }}.tar.gz
          path: dist/gaphas-${{ steps.meta.outputs.version }}.tar.gz
      - name: Upload gaphas-${{ steps.meta.outputs.version }}-py3-none-any.whl
        if: ${{ matrix.python-version == env.python-version }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: gaphas-${{ steps.meta.outputs.version }}-py3-none-any.whl
          path: dist/gaphas-${{ steps.meta.outputs.version }}-py3-none-any.whl

  publish-to-pypi:
    name: Publish to PyPI (release only)
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    if: ${{ github.event_name == 'release' }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            upload.pypi.org:443
            *.sigstore.dev:443
            *.githubusercontent.com:443
            ghcr.io:443

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ needs.build.outputs.targz }}
          path: dist
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: ${{ needs.build.outputs.wheel }}
          path: dist
      - uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
